* {
  font-family: "Roboto";
}

.LandingPage {
  .left-column {
    margin-left: 15vw;
  }
  .landing-icon {
    color: #007bff;
    font-size: 72px;
  }
  .footer {
    background-color: #00306c;
  }
}
