$primary: #00a4ef;
$secondary: #00306c;
$lightgray: #e5e5e5;
$darkblue: #002656;

* {
  font-family: "Roboto";
}

.LandingPage {
  .landing-icon {
    color: $primary;
    font-size: 72px;
  }
  .footer {
    background-color: $secondary;

    a:hover {
      text-decoration: none;
    }
  }
  .monitor-picture {
    max-width: 400px;
  }
  .left-column {
    padding-left: 15%;
  }

  @media screen and (max-width: 768px) {
    .sub-message,
    .footer {
      font-size: 0.9rem;
    }
  }
  @media screen and (max-width: 992px) {
    .sub-message {
      font-size: 0.9rem;
    }

    .left-column {
      padding-left: 0;
    }
  }
}

.Login,
.Signup,
.ForgotPassword {
  min-height: calc(100vh - 91.5px - 32px);
  .card-container {
    max-width: 400px;
  }
}

.Navbar {
  height: 92px;
}

.Subnavbar {
  height: 35px;
  .back-icon {
    cursor: pointer;
  }
  .back-icon:hover {
    transform: scale(1.1);
  }
}

.Sidebar {
  height: calc(100vh - 92px - 35px);
  width: 60px;
  display: inline-block;
  background-color: $secondary;

  .icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $lightgray;
    width: 60px;
    height: 60px;

    .side-icon {
      font-size: 32px;
    }
  }

  .active {
    color: white !important;
    background-color: $darkblue;
  }

  .settings-icon {
    bottom: 0;
    position: absolute;
  }
}

// .scroller {
//   scrollbar-width: none; /* Firefox */
//   -ms-overflow-style: none; /* IE 10+ */
//   &::-webkit-scrollbar {
//     width: 1px;
//     background: transparent; /* Chrome/Safari/Webkit */
//   }
// }

/* <div
          style={{
            width: "100%",
            backgroundColor: "blue",
            height: "calc(100vh - 92px - 35px)",
            fontSize: "72px",
            overflow: "scroll",
          }}
          className="scroller"
        >
          orem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets cont
        </div> */
