$primary: #00a4ef;
$secondary: #00306c;
$lightgray: #e5e5e5;
$darkgray: #cecece;
$darkblue: #002656;

* {
  font-family: "Roboto";
}

.LandingPage {
  .landing-icon {
    color: $primary;
    font-size: 72px;
  }
  .footer {
    background-color: $secondary;

    a:hover {
      text-decoration: none;
    }
  }
  .monitor-picture {
    max-width: 400px;
  }
}

.Login,
.Signup,
.ForgotPassword {
  min-height: calc(100vh - 91.5px - 32px);
  .card-container {
    max-width: 380px;
  }
}

.Navbar {
  height: 92px;
}

.Subnavbar {
  height: 35px;
  .back-icon {
    cursor: pointer;
  }
  .back-icon:hover {
    transform: scale(1.1);
  }
  .signed-in {
    color: $lightgray;
    .username {
      color: white;
    }
  }
}

.Sidebar {
  height: calc(100vh - 92px - 35px);
  width: 60px;
  display: inline-block;
  background-color: $secondary;

  .icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $lightgray;
    width: 60px;
    height: 60px;

    .side-icon {
      font-size: 32px;
    }
  }

  .active {
    color: white !important;
    background-color: $darkblue;
  }

  .settings-icon {
    bottom: 0;
    position: absolute;
  }
}

.Index {
  .main {
    background-color: $lightgray;
  }
  .wrapper {
    height: calc(100vh - 92px - 35px);
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.Avatar {
  .avatar-preview {
    width: 150px;
    height: 150px;
    border: 1px solid $lightgray;
    border-radius: 50%;
  }
}

.Settings {
  .settings-wrapper {
    min-width: 320px;
  }
}

@media screen and (max-width: 768px) {
  .LandingPage {
    .sub-message,
    .footer {
      font-size: 0.9rem;
    }
  }

  .Sidebar {
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: 1;

    .wrapper {
      flex-direction: row !important;
      justify-content: space-around;

      .settings-icon {
        position: relative !important;
      }
    }
  }
  .Settings {
    .settings-wrapper {
      padding-bottom: 50px;
    }
  }
}

.CreateTeam {
  width: 200px;
  height: 200px;
  background-color: $lightgray;
  border: 3px dashed $darkgray;
  color: $darkgray;
  &:hover {
    cursor: pointer;
    transform: scale(1.01);
  }

  .add-icon {
    font-size: 48px;
  }
}
